/node_modules
dist/
npm-debug.log
.DS_Store
/*.env
*credentials.json
*token.json
dev_firebase_service_account_key.json
prod_firebase_service_account_key.json
api.adrianleung.dev.cert
api.adrianleung.dev.key
*.log