openapi: 3.0.3
info:
  title: adriancleung-api
  description: A template for Swagger editor
  version: 1.0.0
  contact:
    name: Adrian Leung
    url: https://adrianleung.dev
    email: contact@adrianleung.dev
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.adrianleung.dev
tags:
  - name: pushie
    description: Endpoints for pushie app
  - name: website
    description: Endpoints for [adrianleung.dev](https://adrianleung.dev)

paths:
  # Replace path with proper route
  /test:
    # Available operations: get, put, post, delete, options, head, patch, trace
    post:
      tags:
        - test
      summary: A summary of the endpoint
      description: A more elaborate summary
      security:
        - Auth: []
      parameters:
        - name: p
          in: query
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
      responses:
        200:
          description: Something was returned
          content:
            # MIME-type
            application/json:
              schema:
                # Available types: array, boolean, integer, number, object, string
                type: object
                # properties available for object only
                properties:
                  # key value
                  id:
                    type: array
                    # items available for array only
                    items:
                      type: string
                      # strings, numbers, integers can have different types of formats
                      format: uuid

components:
  securitySchemes:
    Auth:
      name: auth
      type: apiKey
      in: header
